.search-container {
  position: relative;
  margin: 20px auto;
  max-width: 400px;
}
.search-input {
  width: 80%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}
.search-input:focus {
  border-color: #66fcf1;
}
.search-button {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #66fcf1;
  border: none;
  padding: 12px 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45A29E;
}
