.main-content {
  margin: 0 5%;
  position: absolute;
  width: calc(100% - 10%);
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: space-between;
}

.loading-container {
  grid-column: 1 / span 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}

.loading-text {
  font-size: 18px;
}

.btn {
  opacity: 0.7;
  display: block;
  margin: auto;
  cursor: pointer;
}
