.main-content {
  margin: 0 5%;
  position: absolute;
  width: calc(100% - 10%);
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: space-between;
}

.loading-container {
  grid-column: 1 / span 5; /* Занимает все колонки */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Цвет текста */
  margin-top: 20px; /* Отступ сверху */
}

.loading-icon {
  width: 24px; /* Размер иконки загрузки */
  height: 24px;
  margin-right: 10px; /* Отступ между иконкой и текстом */
}

.loading-text {
  font-size: 18px; /* Размер текста */
}

.btn {
  opacity: 0.7;
  display: block;
  margin: auto;
  cursor: pointer;
}
