.filters-container {
  display: contents;
  max-width: 300px;
}

.filters-container button {
  padding: 10px;
  background-color: #66fcf1;
  color: #0B0C10;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin: 9px;
  height: 48px;
}

.filters-container button:hover {
  background-color: #45A29E;
}

.select-container {
  width: 100%;
}
